* {
  margin: 0
}

html, body {
  height: 100%
}

/* TODO: not responsive */
main {
  min-height:     100%;
  margin-bottom:  -140px;
}

main:after {
  content: "";
  display: block;
}

footer, main:after {
  height: 120px;
}

.footer-copyright {
  height: 100px !important;
}


.relative {
  position: relative;
}

.login-form {
  float:        right;
  margin-right: 10px;
}

.login-form input {
  width: inherit;
}

.username {
  padding: 0 32px
}

.avatar {
  min-height: 180px;
}

.avatar i.mdi-image-photo-camera {
  font-size: 4rem;
}

.avatar > img {
  max-width: 180px;
}

.ui-helper-hidden-accessible {
  display:none;
}

.hidden {
  display: none;
}

.editButton {
  /*float: right;*/
  display: none;
}

.coworker .input-field, .coworker .form {
  display: none;
}

.skill {
  padding:     0px 3px;
  white-space: nowrap;
}

.container {
  position: relative;
}

.col.m12 {
  padding: 0px !important;
}


.skills {
  margin-top: 1rem;
}

.skills .input-field {
  margin-top: 0;
}

.filter {
  position: absolute;
  top:      0;
  right:    0;
  padding:  8px;
}

.padding-16px {
  padding: 16px;
}

.dropzone {
  border:        2px dashed;
  border-radius: 5px;
  padding:       25px;
  text-align:    center;
  height:        220px;
  width:         220px;
}

.coworker-list {
  /*display:   flex;
  flex-wrap: wrap;*/
}

.coworker-col {
  width:     200px;
  padding:   1px !important;
}

.coworker-modal {
  transition: none;
}

.modal-background {
  z-index:          999;
  position:         fixed;
  background-color: grey;
  opacity: 0.5;
  top:     0;
  bottom:  0;
  left:    0;
  right:   0;
  display: none;
}

.opened {
  position:  absolute;
  width:     100%;
  z-index:   1000;
}